# Connexion à la base de données

In [1]:
import mysql.connector
from mysql.connector import Error
from pprint import pprint
import datetime as dt
import pandas as pd

In [2]:
user = 'root'
password = 'root'
host = 'localhost'
port = 3305

In [3]:
# Connexion à la base de données
conn = mysql.connector.connect(user=user, password=password,
                              host=host, port=port)

### Test de connexion

In [4]:
# ATTENTION dès qu'on fait un conn.comit(), le curseur est réinitialisé 
# et donc ilfaut le reconnecter !

#creation du cursor
cursor = conn.cursor()

#petit test
sql = """Show Databases;"""
cursor.execute(sql)

print("Liste des bases de données : ")

for name in cursor:
    print("-", name[0])

    
conn.commit()

Liste des bases de données :
- information_schema
- mysql
- performance_schema
- projectfflogs
- sys

# Connexion à l'API FFLOGS V2
(pour récupérer les données à insérer dans notre base de données)

In [5]:
import requests

In [6]:
# Authentification de l'API
class BearerAuth(requests.auth.AuthBase):
        def __init__(self, token):
            self.token = token
        def __call__(self, r):
            r.headers["authorization"] = "Bearer " + self.token
            return r

# ATTENTION DONNER A METTRE DANS DES VARIABLES d'ENVIRONEMENT
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ODUxMThjYi1lMjg1LTRmNjUtOTA4Yi05YzM0Njc5ZTNjMGQiLCJqdGkiOiI5N2E1MDA3ZDc0YjQ0ZDNkMzYyNmVlMTM5Nzg1YmZjNmU0ZjFlY2MzZjYyOTBlYmE2NmU3YjY2OTAyMzQyMDQ2YTk4MDhmYmNiY2JmNTAxOSIsImlhdCI6MTY3NDg0MTUwMS42NDM2OSwibmJmIjoxNjc0ODQxNTAxLjY0MzY5NSwiZXhwIjoxNzA1OTQ1NTAxLjYzNTAzOSwic3ViIjoiIiwic2NvcGVzIjpbInZpZXctdXNlci1wcm9maWxlIiwidmlldy1wcml2YXRlLXJlcG9ydHMiXX0.laQPizAIA3WDSxsVJbtsZru0YKiXHs_hn175UwnxssAbY_PGSJPdRv-6ga_njoSBkQzn7nQZ8DIEM55-Po5woq_6Asz3qjreJWcE63184-Fe1Qo4Vuhns1_HvwuwJqNxi60GG2aA_Fod0qLmv8RzGlG9LmMANOb2XrcmRrB4C9S_0SwHfABSgB_sfGFRm1_DYNx3NBdyMRj4czwbvyn7n5znoRRkgK8qHUIBqkMQeIae7ENC4gSqJP8LI7iK0YjI0f6_fulVPxyZAnMINoI5_whDNtRtOCYQmcaEQZ2shE9ijE8uS409mNhGUyG2Tl2t9e0636pXWTTuH_ssBdg8Cn1J3KHoMViBz_3zZtck6rOV5EjAlO74gNPjSboxvva6togOWyrxYLJHd2cJqRlt4KmjD1XNRwALDQLglRb5MHA86DbSW4BoDCv7qQuWuoeMcjYNGX7ogZ6LPSFhoEBquN9PAG1MR3D3yiO6XbsXNqm0wO2kWrVlQw744Ab6kUWmiE0NAKjp1q3GXpha0vwhLKT4Fgvz0l56W2UUosoQboEUnV4enWRGBynH8xz7DUZ5R6_6j3A-OfNpPYoaGggMtxBcRE9C348H_yjg3rgM0sE1ec7E8NvUnQui7y5ctejqzCoLTU-7Ro8O5UGlbdSfokXTJWTdDJtSEN2KreKqrUs'
url = "https://www.fflogs.com/api/v2/client"

### On va travailler sur la base de donnée 'projectfflogs'

In [7]:
# on inform
sql1 = """use projectfflogs;"""
cursor.execute(sql1)

sql2 = """show tables from projectfflogs;"""
cursor.execute(sql2)

print('Liste des tables contenus dans "projectfflogs"')
for result in cursor :
    print("-",result[0])
    
conn.commit()

Liste des tables contenus dans "projectfflogs"
- character
- difficulty
- encounter
- job
- jobtype
- report
- static
- staticmember
- teampertry
- try
- user

# Remplir la table 'job type'

In [8]:
# REMPLIR la table 'jobtype'

#nouveau cursor
cursor = conn.cursor()

# Tank are jobs speciliazed in defense ("Dark Knight", "Paladin", "Warrior", "Gunbreaker")
# Heal group all jobs speciliazed in healling ("Astrologian", "Scholar", "White Mage", "Sage")
# Melee group all melee jobs ("Dragoon", "Monk", "Ninja", "Samurai", "Reaper") 
# Range group all physical range jobs ("Bard", "Machinist", "Dancer")
# Caster group all magical range attacks' jobs ("Black Mage", "Summoner", "Red Mage")
jobtypes = ['Tank', 'Heal', 'Melee', 'Range', 'Caster']

i = 0 # initialisation pour l'id des type de jobs
for jtype in jobtypes :
    element = (i, jtype)
    i+=1
    print(element)
    cursor.execute("""INSERT INTO projectfflogs.jobtype (id_job_type, job_type_name) VALUES(%s, %s)""", element)
    
conn.commit()

(0, 'Tank')
(1, 'Heal')
(2, 'Melee')
(3, 'Range')
(4, 'Caster')

In [9]:
# VERIFICATION
# est-ce qu'on a bien la liste des types de jobs ?

cursor.execute("""SELECT * FROM projectfflogs.jobtype""")
rows = cursor.fetchall()
for row in rows:
   print('{0} : {1}'.format(row[0], row[1]))

4 : Caster
1 : Heal
2 : Melee
3 : Range
0 : Tank

# Remplir la table 'job'

In [10]:
# REMPLIR la table 'job'

#Requête à l'api fflogs v2 pour récupérer la liste des  jobs
query = """query {
    gameData{
            classes{
                specs{
                    id, name
                }
            }
        }
}

"""

#on récupère une liste de jobs à charger dans la BDD
r = requests.get(url, auth=BearerAuth(token), json={'query': query}) 
r.json()
json = r.json()

# On en tire une liste de jobs
spec = json["data"]["gameData"]["classes"]
jobs = spec[0]["specs"]


# Pour chaque job de la liste
for job in jobs:
    job_name = job["name"]
    job_id = job["id"]
    
    #ON VA DETERMINER IL EST DE QUEL TYPE
    # Tank are jobs speciliazed in defense ("Dark Knight", "Paladin", "Warrior", "Gunbreaker")
    # Heal group all jobs speciliazed in healling ("Astrologian", "Scholar", "White Mage", "Sage")
    # Melee group all melee jobs ("Dragoon", "Monk", "Ninja", "Samurai", "Reaper") 
    # Range group all physical range jobs ("Bard", "Machinist", "Dancer")
    # Caster group all magical range attacks' jobs ("Black Mage", "Summoner", "Red Mage")
    if job_name in ["Dark Knight", "Paladin", "Warrior", "Gunbreaker"]:
        jobtype_id = 0
    elif job_name in ["Astrologian", "Scholar", "White Mage", "Sage"]:
        jobtype_id = 1
    elif job_name in ["Dragoon", "Monk", "Ninja", "Samurai", "Reaper"]:
        jobtype_id = 2
    elif job_name in ["Bard", "Machinist", "Dancer"]:
        jobtype_id = 3
    elif job_name in ["Black Mage", "Summoner", "Red Mage"]:
        jobtype_id = 4
    else:
        jobtype_id = 99
    #print("jobtype_id = ", jobtype_id, ":", job_name)
    
    # MTN on a le job_name, id_jobtype, il n'y a plus qu'à rajouter le tout dans la table
    # en incrémentant un l'id de chaque job
    element = (job_id, job_name, jobtype_id)
    #print(element)
    cursor.execute("""INSERT INTO projectfflogs.job (id_job, job_name, fk_id_job_type) VALUES(%s, %s, %s)""", element)
    
#on commit pour que les changements soient effectifs dnas la base
conn.commit()

In [11]:
# VERIFICATION
# est-ce qu'on a bien la liste des jobs ?

sql = """SELECT * FROM projectfflogs.job"""
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
   print('{0} : {1}'.format(row[0], row[1]))

1 : Astrologian
2 : Bard
3 : Black Mage
4 : Dark Knight
5 : Dragoon
6 : Machinist
7 : Monk
8 : Ninja
9 : Paladin
10 : Scholar
11 : Summoner
12 : Warrior
13 : White Mage
14 : Red Mage
15 : Samurai
16 : Dancer
17 : Gunbreaker
18 : Reaper
19 : Sage

In [12]:
# VERIFICATION 2
# est-ce qu'on peut associer chaque job à son type ?

sql = """SELECT job_name, job_type_name FROM projectfflogs.job INNER JOIN projectfflogs.jobtype ON job.fk_id_job_type=jobtype.id_job_type;"""
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
   print('{0} : {1}'.format(row[0], row[1]))

Black Mage : Caster
Summoner : Caster
Red Mage : Caster
Astrologian : Heal
Scholar : Heal
White Mage : Heal
Sage : Heal
Dragoon : Melee
Monk : Melee
Ninja : Melee
Samurai : Melee
Reaper : Melee
Bard : Range
Machinist : Range
Dancer : Range
Dark Knight : Tank
Paladin : Tank
Warrior : Tank
Gunbreaker : Tank

# Remplir la table 'difficulty'

In [13]:
# (id_difficulté, nom_difficuté) / [normal, hard, extrem, savage, ultimate] 
diffulties = ["normal", "hard", "unreal", "extrem", "savage", "ultimate"]

#nouveau cursor
cursor = conn.cursor()

#requête sql
sql = """INSERT INTO projectfflogs.difficulty (id_difficulty, difficulty_name) VALUES(%s, %s)"""

i = 100
for difficulty in diffulties :
    element = (i, difficulty)
    print(element)
    cursor.execute(sql, element)
    i+=100
    
#on commit pour que les changements soient effectifs dans la base
conn.commit()

(100, 'normal')
(200, 'hard')
(300, 'unreal')
(400, 'extrem')
(500, 'savage')
(600, 'ultimate')

In [14]:
#VERIFICATION
sql = """SELECT * FROM projectfflogs.difficulty;"""

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
   print('{0} : {1}'.format(row[0], row[1]))

100 : normal
200 : hard
300 : unreal
400 : extrem
500 : savage
600 : ultimate

# Remplir la table 'encounter'

- id_encounter : int(11)
- fk_id_difficulty : int(11)
- encounter_name : varchar(255)
- boss_name : varchar(255) **
- fk_id_timeline : int (11)*******

In [12]:
# (id_encounter, fk_id_difficulty, encounter_name, boss_name, fk_id_timeline)

##### Rajouter code BDD #####
#nouveau cursor
#cursor = conn.cursor()



# P8S-P2 (id : 87)
id_enc = 87
difficulty = 500 # savage
encounter_name = 'Hephaistos II'
boss_name = 'Hephaistos II'
timeline = str(id_enc) + '-' + str(difficulty)

element = (id_enc, difficulty, encounter_name, boss_name, timeline)
sql = """INSERT INTO projectfflogs.encounter (id_encounter, fk_id_difficulty, encounter_name, boss_name, fk_id_timeline) 
VALUES(%s, %s, %s, %s, %s);"""
print(element)

##### Rajouter code BDD #####
#cursor.execute(sql, element)



# P8S-P1 (id : 86)
id_enc = 86
difficulty = 500 # savage
encounter_name = 'Hephaistos'
boss_name = 'Hephaistos'
timeline = str(id_enc) + '-' + str(difficulty)

element = (id_enc, difficulty, encounter_name, boss_name, timeline)
sql = """INSERT INTO projectfflogs.encounter (id_encounter, fk_id_difficulty, encounter_name, boss_name, fk_id_timeline) 
VALUES(%s, %s, %s, %s, %s);"""
print(element)

##### Rajouter code BDD #####
#cursor.execute(sql, element)


# DSR (id : 1065)
id_enc = 1065
difficulty = 600 # ultimate
encounter_name = "Dragonsong's Reprise"
boss_name = "Thordan"
timeline = str(id_enc) + '-' + str(difficulty)

element = (id_enc, difficulty, encounter_name, boss_name, timeline)
sql = """INSERT INTO projectfflogs.encounter (id_encounter, fk_id_difficulty, encounter_name, boss_name, fk_id_timeline) 
VALUES(%s, %s, %s, %s, %s);"""
print(element)

##### Rajouter code BDD #####
#cursor.execute(sql, element)


# TOP (id : 1068)
id_enc = 1068
difficulty = 600 # ultimate
encounter_name = 'The Omega Protocol'
boss_name = 'Omega'
timeline = str(id_enc) + '-' + str(difficulty)

element = (id_enc, difficulty, encounter_name, boss_name, timeline)
sql = """INSERT INTO projectfflogs.encounter (id_encounter, fk_id_difficulty, encounter_name, boss_name, fk_id_timeline) 
VALUES(%s, %s, %s, %s, %s);"""
print(element)

##### Rajouter code BDD #####
#cursor.execute(sql, element)


# Sophia Unreal (id : 3006)
id_enc = 3006
difficulty = 300 # unreal
encounter_name = 'Sophia'
boss_name = 'Sophia'
timeline = str(id_enc) + '-' + str(difficulty)

element = (id_enc, difficulty, encounter_name, boss_name, timeline)
sql = """INSERT INTO projectfflogs.encounter (id_encounter, fk_id_difficulty, encounter_name, boss_name, fk_id_timeline) 
VALUES(%s, %s, %s, %s, %s);"""
print(element)

##### Rajouter code BDD #####
#cursor.execute(sql, element)

#conn.commit()

(87, 500, 'Hephaistos II', 'Hephaistos II', '87-500')
(86, 500, 'Hephaistos', 'Hephaistos', '86-500')
(1065, 600, "Dragonsong's Reprise", 'Thordan', '1065-600')
(1068, 600, 'The Omega Protocol', 'Omega', '1068-600')
(3006, 300, 'Sophia', 'Sophia', '3006-300')

In [8]:
# VERIFICATION

sql = """SELECT * FROM projectfflogs.encounter;"""

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
   print('{0} : {1} : {2} : {3} : {4}'.format(row[0], row[1], row[2], row[3], row[4]))

86 : 500 : Hephaistos : Hephaistos : 86-500
87 : 500 : Hephaistos II : Hephaistos II : 87-500
1065 : 600 : Dragonsong's Reprise : Thordan : 1065-600
1068 : 600 : The Omega Protocol : Omega : 1068-600
3006 : 300 : Sophia : Sophia : 3006-300

# GROSSE OPERATION -----------------------------------------------------------------------

# Remplir la table 'Report', puis les autres tables
La table Report est le point d'entrée pour remplir les autres tables, c'est à ârtir d'un report qu'on va remplir toutes les autres données, c'est le point centrale de tout le travail. Pour que la bdd soit cohérente il faut remplir aussi les autres tables quand on rempli celle-ci.

- id_report : varchar(255)
- report_date : datetime
- fk_owner : int(11) (id_user de la personne qui a uploadé le rapport)
- fk_id_static : int(11)

In [8]:
#cursor = cursor.reset()

In [8]:
#nouveau cursor
cursor = conn.cursor()

# l'opération est complexe et il vaut mieux remplir toutes ces tables en même temps, donc on ne va pas
# commit avant de les avoir toutes remplies, on fera la grosse verif à la fin !

In [9]:
# Création d'un dataframe vide pour stocker les codes des rapports
df_total = pd.DataFrame()

# LA Query général avec toutes les données de base ! - sera complété par d'autres query pour certaines tables

code = '"TfYqLdD2X7gb4pVx"'
query = """{
      reportData { 
            report(code: """+str(code)+""") {
                startTime, code
                fights{
                    id, 
                    name,
                    difficulty,
                    kill, 
                    startTime, 
                    endTime, 
                    bossPercentage, 
                    fightPercentage, 
                    encounterID, 
                    friendlyPlayers, 
                    size},
                owner{id,name},
                guild{name,id},
                masterData{
                    actors{
                        id,
                        name, 
                        type, 
                        subType,
                        server
                    }
                },
                rankedCharacters{id,name,server{name,region{name,slug}}}
            }
        }
}
"""

response = requests.get(url, auth=BearerAuth(token), json={'query': query})
json_data = response.json()

id_report = json_data["data"]["reportData"]["report"]["code"]
report_date = float(json_data["data"]["reportData"]["report"]["startTime"]) #à convertir en datetime
fk_owner = json_data["data"]["reportData"]["report"]["owner"]["id"]
fk_id_static = json_data["data"]["reportData"]["report"]["guild"]["id"]

report_date = dt.datetime.fromtimestamp(report_date/1000) 

print(report_date)

2023-02-22 19:35:35.298000

Note : On voit qu'il y a 2 foreign key : 'fk_id_owner' qui réfère à la table "user" et 'fk_id_static' qui réfère à la table 'static', on va remplir ces tables tout de suite !

Je dois remplir user avant fk_owner

##### Remplir la table 'user'

- id_user : int(11) (356918) 
- user_name : varchar(255) (PhaelunMiaou)

In [10]:
id_user = fk_owner
user_name = json_data["data"]["reportData"]["report"]["owner"]["name"]

element = (id_user, user_name)

##### Rajouter code BDD #####
sql = """INSERT INTO projectfflogs.user (id_user, user_name) 
VALUES(%s, %s);"""

cursor.execute(sql, element)

print(element)

(175500, 'lokiraphael')

##### Remplir la table 'static'
- id_static : int(11) (78121) 
- static_name : varchar(255) (Tenebris Dulcis)

In [11]:
id_static = fk_id_static
static_name = json_data["data"]["reportData"]["report"]["guild"]["name"]

element = (id_static, static_name)

##### Rajouter code BDD #####
sql = """INSERT INTO projectfflogs.static (id_static, static_name) 
VALUES(%s, %s);"""

cursor.execute(sql, element)

print(element)

(78121, 'Tenebris Dulcis')

On peut donc maintenant remplir la table report !

In [12]:
# Insert elements into data base

element = (id_report, report_date, fk_owner, fk_id_static)

##### Rajouter code BDD #####
sql = """INSERT INTO projectfflogs.report (id_report, report_date, fk_owner, fk_id_static) 
VALUES(%s, %s, %s, %s);"""

cursor.execute(sql, element)

print(element)

('TfYqLdD2X7gb4pVx', datetime.datetime(2023, 2, 22, 19, 35, 35, 298000), 175500, 78121)

ENSUITE, il faut remplir les tables : 
- "character" avec tous les personnages présents dans le report
- "try" avec tous les try présents dans le rapport

On va commencer par "try" !

##### Remplir la table 'try'
- id_try : int(11)
- fk_id_report : varchar(255)
- fk_id_encounter : int(11)
- boss_percentage : double
- encounter_percentage : double
- is_clear : tinyint(1)
- start_time : int
- end_time : int

In [13]:
# on ne gère pas encore tous les encounter du jeu, 
# donc potentiellement des encounter qui peuvent se trouver dans les rapports
# DONC, je vais charger une liste id_encounter qui existe dans la database et on va vérifier
# si l'id_encounter existe, s'il existe pas, on ne rajoute pas le try

sql = """SELECT id_encounter FROM projectfflogs.encounter;"""

list_encounter = []

cursor.execute(sql)
rows = cursor.fetchall()

for row in rows:
   list_encounter.append(row[0])

print(list_encounter)

[86, 87, 1065, 1068, 3006]

In [14]:
# on récupère la liste des fights du report en question
fights = json_data["data"]["reportData"]["report"]["fights"]

#liste pour savoir quels trys sont gardés
validated_fights = []

fk_id_report = id_report
print("code report:",fk_id_report)

for fight in fights :
    id_try = fight["id"]
    fk_id_encounter = fight["encounterID"]
    boss_percentage = fight["bossPercentage"]
    encounter_percentage = fight["fightPercentage"]
    
    is_clear = int(fight["kill"]) if fight["kill"] is not None else 0
    
    start_time = fight["startTime"]
    end_time = fight["endTime"]
    
    if fk_id_encounter in list_encounter:
        element = (id_try, fk_id_report, fk_id_encounter, boss_percentage, encounter_percentage, is_clear, start_time, end_time)
        print(element)
        
        validated_fights.append(id_try)

        ##### Rajouter code BDD #####
        sql = """INSERT INTO projectfflogs.try (id_try, fk_id_report, fk_id_encounter, boss_percentage, encounter_percentage, is_clear, start_time, end_time) 
                    VALUES(%s, %s, %s, %s, %s, %s, %s, %s);"""
        cursor.execute(sql, element)

code report: TfYqLdD2X7gb4pVx
(1, 'TfYqLdD2X7gb4pVx', 86, 73.85, 73.85, 0, 5153633, 5382166)
(2, 'TfYqLdD2X7gb4pVx', 86, 77.96, 77.96, 0, 5419640, 5618298)
(3, 'TfYqLdD2X7gb4pVx', 86, 58.63, 58.63, 0, 5649530, 6012353)
(4, 'TfYqLdD2X7gb4pVx', 86, 65.09, 65.09, 0, 6047336, 6354598)
(5, 'TfYqLdD2X7gb4pVx', 86, 65.49, 65.49, 0, 6387962, 6694221)
(6, 'TfYqLdD2X7gb4pVx', 86, 58.33, 58.33, 0, 6731413, 7110177)
(7, 'TfYqLdD2X7gb4pVx', 86, 49.97, 49.97, 1, 7222173, 7657706)
(8, 'TfYqLdD2X7gb4pVx', 86, 47.91, 47.91, 0, 7657751, 7678221)
(10, 'TfYqLdD2X7gb4pVx', 87, 86.42, 86.42, 0, 7834490, 7905704)
(11, 'TfYqLdD2X7gb4pVx', 87, 65.59, 65.59, 0, 8192535, 8401753)
(12, 'TfYqLdD2X7gb4pVx', 87, 18.63, 18.63, 0, 8458255, 8924140)
(13, 'TfYqLdD2X7gb4pVx', 87, 38.26, 38.26, 0, 8966086, 9362571)
(14, 'TfYqLdD2X7gb4pVx', 87, 41.6, 41.6, 0, 9480832, 9877259)
(15, 'TfYqLdD2X7gb4pVx', 87, 40.29, 40.29, 0, 10410120, 10775001)
(16, 'TfYqLdD2X7gb4pVx', 87, 91.65, 91.65, 0, 10810339, 10850343)
(17, 'TfYqLdD2X7gb4pVx', 87, 76.04, 76.04, 0, 10878511, 11039973)
(18, 'TfYqLdD2X7gb4pVx', 87, 76.13, 76.13, 0, 11071251, 11232903)
(19, 'TfYqLdD2X7gb4pVx', 87, 54.27, 54.27, 0, 11264381, 11539768)

##### Remplir la table 'character'
- id_character : int(11) 
- character_name : varchar(255)
- server : varchar(255) (ex: "Zodiark")
- region : varchar(255)
- slug : varchar(255)

In [15]:
# on récupère tous les personnages présent dans le rapport
characters =  json_data["data"]["reportData"]["report"]["masterData"]["actors"]

df_characters = pd.DataFrame(characters, columns=['id', 'name', 'server', 'subType', 'type'])
df_characters = df_characters.rename(columns={'id': 'id_actor', 'subType': 'job'}).drop("type", axis=1)

cond = ~(df_characters["server"].isnull())

#on a la liste de tous les personnages qui apparaissent dans le rapport
df_characters = df_characters[cond]

df_characters

    id_actor                   name   server          job
3          3    Nashima Dragonfront     Odin    WhiteMage
4          4       Mirys Kasprovich     Odin   DarkKnight
5          5     Arysteria Moonveil     Odin  Astrologian
6          6          Rilana Sarlog     Odin      Unknown
7          7   Tergiverser Tuturuya     Odin         Monk
8          8          Mauri Vestras     Odin   DarkKnight
9          9       Yelanah Nystroem     Odin      Dragoon
10        10        Mashiro Kitsune     Odin      Warrior
11        11  Theoderic Castellanos     Odin      Dragoon
12        12      April Castellanos     Odin         Bard
13        13             Lily Alter     Odin    WhiteMage
14        14             Dara Davis     Odin         Sage
15        15           Zeke Castiel     Odin      Paladin
16        16               Meli Bee     Odin      RedMage
17        17         Little Thunder     Odin       Reaper
18        18          Kinara Gugoza     Odin   Gunbreaker
19        19            Wavi V'zumi     Odin         Bard
21        21        Reave Svargaris     Odin        Ninja
22        22         Alandra Flores     Odin     Summoner
23        23             Yunna Khan     Odin     Conjurer
24        24             Yunna Khan     Odin      RedMage
25        25           Juwel Savage     Odin      RedMage
26        26               Lang Ley     Odin      Unknown
27        27       Naryssa Valarion     Odin      Samurai
28        28         Kalifer Ventus     Odin    WhiteMage
29        29                Tuk Tuk     Odin    WhiteMage
30        30               Lyra Sae     Odin      Scholar
31        31             Fred Lefou     Odin      RedMage
32        32          W'yandih Ndai     Odin    BlackMage
33        33            Rusty Lunar     Odin    WhiteMage
34        34      Kelux Swiftquiver     Odin      Warrior
35        35            Kyra Ryu'ki     Odin       Reaper
36        36             Fred Lefou     Odin      Unknown
37        37       Aramea Val'nthir     Odin         Sage
38        38              Just Oasy     Odin     Summoner
39        39             Yunna Khan     Odin       Lancer
40        40      Sachiko Shirakami     Odin         Sage
41        41             Nalani Lua     Odin    WhiteMage
42        42              Fen Tanyl     Odin         Monk
43        43           Kaori Taberu     Odin    Machinist
44        44         Magnus Valorum     Odin      Samurai
45        45         Zarrias Nehron     Odin      Warrior
46        46      Descendant Buffet     Odin      RedMage
47        47            Jack Graves     Odin      Dragoon
51        51          Naryla Majora  Phoenix   DarkKnight
52        52          Sereny Sereny     Lich       Dancer
53        53             Loke Ouile     Lich         Monk
54        54        Grimm Moonblade  Phoenix       Reaper
55        55                 Py Vey  Phoenix      Warrior
56        56         Alwine Bellamy  Phoenix    WhiteMage
57        57         Phae'lun Miaou  Zodiark         Sage

NOTE : Il nous manque l'id des personnage dans fflog (l'id vu ici est l'id relatof au rapport)pour le récupérer on va lancer une nouvelle requête à l'API FFLOGS pour retrouver toutes les informations d'un personnage pour un nom, un serveur et un slug donné... on a ap le slug dnas les infos, pour le retrouver il faut faire une 3ème requête ou créer une table chez nous de server... (je l'ai mise dans insomnia, on verra plus tard)

In [16]:
# pour le moment on va se contenter de regarder la rankedCharacters
ranked_chars = json_data["data"]["reportData"]["report"]["rankedCharacters"]

rename = {'server.name': 'server', 'server.region.name': 'region', 'server.region.slug': 'slug'}
df_ranked_chars = pd.json_normalize(ranked_chars).rename(columns=rename)
#df_ranked_chars

# merge pour recup toutes les informations des deux df
df_char = pd.merge(df_characters, df_ranked_chars, on=["name","server"], how="inner")

df_char

   id_actor               name   server         job        id  region slug
0        46  Descendant Buffet     Odin     RedMage  15202627  Europe   EU
1        51      Naryla Majora  Phoenix  DarkKnight    208022  Europe   EU
2        52      Sereny Sereny     Lich      Dancer  14022779  Europe   EU
3        53         Loke Ouile     Lich        Monk  11862111  Europe   EU
4        54    Grimm Moonblade  Phoenix      Reaper  12296204  Europe   EU
5        55             Py Vey  Phoenix     Warrior   1829113  Europe   EU
6        56     Alwine Bellamy  Phoenix   WhiteMage    182820  Europe   EU
7        57     Phae'lun Miaou  Zodiark        Sage  16497287  Europe   EU

In [17]:
# Insert Dataframe into MySQL bdd:
sql = """INSERT INTO projectfflogs.character (id_character, character_name, server, region, slug) values(%s, %s, %s, %s, %s);"""

df_char["name"] = df_char["name"].apply(str)

for c in df_char.itertuples() :
    
    element = (c.id, c.name, c.server, c.region, c.slug)
    print(element)
    
    ##### Rajouter code BDD #####
    cursor.execute(sql, element)

(15202627, 'Descendant Buffet', 'Odin', 'Europe', 'EU')
(208022, 'Naryla Majora', 'Phoenix', 'Europe', 'EU')
(14022779, 'Sereny Sereny', 'Lich', 'Europe', 'EU')
(11862111, 'Loke Ouile', 'Lich', 'Europe', 'EU')
(12296204, 'Grimm Moonblade', 'Phoenix', 'Europe', 'EU')
(1829113, 'Py Vey', 'Phoenix', 'Europe', 'EU')
(182820, 'Alwine Bellamy', 'Phoenix', 'Europe', 'EU')
(16497287, "Phae'lun Miaou", 'Zodiark', 'Europe', 'EU')

In [18]:
df_char.dtypes

id_actor     int64
name        object
server      object
job         object
id           int64
region      object
slug        object
dtype: object

##### Remplir la table 'teampertry'

- fk_id_try : int(11)
- fk_id_report : varchar(255)
- fk_id_character : int(11)
- fk_id_job : int(11)

In [19]:
# on recup la liste des jobs 
query_job = """query {
    gameData{
            classes{
                specs{
                    id, name
                }
            }
        }
}

"""

#on récupère une liste de jobs à charger dans la BDD
r = requests.get(url, auth=BearerAuth(token), json={'query': query_job})
json = r.json()
jobs = json["data"]["gameData"]["classes"][0]["specs"]
df_jobs = pd.json_normalize(jobs)
df_jobs['name_subtype'] = df_jobs['name'].str.replace(' ', '')
rename= {'name_subtype':'job', 'id':'id_job'}
df_jobs = df_jobs.rename(columns=rename).drop('name',axis=1)
df_jobs

    id_job          job
0        1  Astrologian
1        2         Bard
2        3    BlackMage
3        4   DarkKnight
4        5      Dragoon
5        6    Machinist
6        7         Monk
7        8        Ninja
8        9      Paladin
9       10      Scholar
10      11     Summoner
11      12      Warrior
12      13    WhiteMage
13      14      RedMage
14      15      Samurai
15      16       Dancer
16      17   Gunbreaker
17      18       Reaper
18      19         Sage

In [20]:
# on va commercer par ajouter id_job au df_char
df_char_job = pd.merge(df_char, df_jobs, on='job', how="inner")
df_char_job

,id_actor,name,server,job,id,region,slug,id_job
0,46,Descendant Buffet,Odin,RedMage,15202627,Europe,EU,14
1,51,Naryla Majora,Phoenix,DarkKnight,208022,Europe,EU,4
2,52,Sereny Sereny,Lich,Dancer,14022779,Europe,EU,16
3,53,Loke Ouile,Lich,Monk,11862111,Europe,EU,7
4,54,Grimm Moonblade,Phoenix,Reaper,12296204,Europe,EU,18
5,55,Py Vey,Phoenix,Warrior,1829113,Europe,EU,12
6,56,Alwine Bellamy,Phoenix,WhiteMage,182820,Europe,EU,13
7,57,Phae'lun Miaou,Zodiark,Sage,16497287,Europe,EU,19

In [21]:
df_char_job.dtypes

id_actor     int64
name        object
server      object
job         object
id           int64
region      object
slug        object
id_job       int64
dtype: object

In [22]:
fights

[{'id': 1,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 5153633,
  'endTime': 5382166,
  'bossPercentage': 73.85,
  'fightPercentage': 73.85,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 2,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 5419640,
  'endTime': 5618298,
  'bossPercentage': 77.96,
  'fightPercentage': 77.96,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 3,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 5649530,
  'endTime': 6012353,
  'bossPercentage': 58.63,
  'fightPercentage': 58.63,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 4,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 6047336,
  'endTime': 6354598,
  'bossPercentage': 65.09,
  'fightPercentage': 65.09,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 5,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 6387962,
  'endTime': 6694221,
  'bossPercentage': 65.49,
  'fightPercentage': 65.49,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 6,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 6731413,
  'endTime': 7110177,
  'bossPercentage': 58.33,
  'fightPercentage': 58.33,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 7,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': True,
  'startTime': 7222173,
  'endTime': 7657706,
  'bossPercentage': 49.97,
  'fightPercentage': 49.97,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 70, 53, 52, 51, 2],
  'size': 8},
 {'id': 8,
  'name': 'Héphaïstos',
  'difficulty': 101,
  'kill': False,
  'startTime': 7657751,
  'endTime': 7678221,
  'bossPercentage': 47.91,
  'fightPercentage': 47.91,
  'encounterID': 86,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 9,
  'name': 'Héphaïstos II',
  'difficulty': None,
  'kill': None,
  'startTime': 7739867,
  'endTime': 7754654,
  'bossPercentage': None,
  'fightPercentage': None,
  'encounterID': 0,
  'friendlyPlayers': [57, 56, 55, 53, 52, 51, 2],
  'size': None},
 {'id': 10,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 7834490,
  'endTime': 7905704,
  'bossPercentage': 86.42,
  'fightPercentage': 86.42,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 11,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 8192535,
  'endTime': 8401753,
  'bossPercentage': 65.59,
  'fightPercentage': 65.59,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 12,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 8458255,
  'endTime': 8924140,
  'bossPercentage': 18.63,
  'fightPercentage': 18.63,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 70, 53, 52, 51, 2],
  'size': 8},
 {'id': 13,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 8966086,
  'endTime': 9362571,
  'bossPercentage': 38.26,
  'fightPercentage': 38.26,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 14,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 9480832,
  'endTime': 9877259,
  'bossPercentage': 41.6,
  'fightPercentage': 41.6,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 15,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 10410120,
  'endTime': 10775001,
  'bossPercentage': 40.29,
  'fightPercentage': 40.29,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 16,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 10810339,
  'endTime': 10850343,
  'bossPercentage': 91.65,
  'fightPercentage': 91.65,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 17,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 10878511,
  'endTime': 11039973,
  'bossPercentage': 76.04,
  'fightPercentage': 76.04,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 18,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 11071251,
  'endTime': 11232903,
  'bossPercentage': 76.13,
  'fightPercentage': 76.13,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8},
 {'id': 19,
  'name': 'Héphaïstos II',
  'difficulty': 101,
  'kill': False,
  'startTime': 11264381,
  'endTime': 11539768,
  'bossPercentage': 54.27,
  'fightPercentage': 54.27,
  'encounterID': 87,
  'friendlyPlayers': [46, 57, 56, 55, 54, 53, 52, 51, 2],
  'size': 8}]

In [23]:
# il faut pour un fight donné (avec l'id_report et id_try) du report, mettre l'id_character et son job
# dans la liste des fights, il y a la donnée "friendlyPlayers" 
# qui listes tous les personnages acteurs présents dans le fight
# on va le lié à l'id_actor du df_character qui nous permet de retrouver l'information du job du perso sur ce fight

# on avait récupéré la liste de tous les fights dans la variable fights 
#pprint(fights["id"])

sql = """INSERT INTO projectfflogs.teampertry (fk_id_try, fk_id_report, fk_id_character, fk_id_job) values(%s, %s, %s, %s);"""

for fight in fights :
      
    id_try = fight["id"]
    
    #on récupère la liste des friendlyplayers
    friendlyplayers =  fight["friendlyPlayers"] # liste d'entier
    
    #pour récup id_character et id_job
    for friend in friendlyplayers :
        
        cond = df_char_job["id_actor"] == int(friend)
        df_player = df_char_job[cond]
        
        if not df_player.empty:
            id_character = int(df_player["id"].values[0])
            id_job = int(df_player["id_job"].values[0])

            element = (id_try, id_report, id_character, id_job)
            print(element)
            
            ##### Rajouter code BDD #####
            cursor.execute(sql, element)

(1, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(1, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(1, 'TfYqLdD2X7gb4pVx', 182820, 13)
(1, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(1, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(1, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(1, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(1, 'TfYqLdD2X7gb4pVx', 208022, 4)
(2, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(2, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(2, 'TfYqLdD2X7gb4pVx', 182820, 13)
(2, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(2, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(2, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(2, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(2, 'TfYqLdD2X7gb4pVx', 208022, 4)
(3, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(3, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(3, 'TfYqLdD2X7gb4pVx', 182820, 13)
(3, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(3, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(3, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(3, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(3, 'TfYqLdD2X7gb4pVx', 208022, 4)
(4, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(4, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(4, 'TfYqLdD2X7gb4pVx', 182820, 13)
(4, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(4, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(4, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(4, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(4, 'TfYqLdD2X7gb4pVx', 208022, 4)
(5, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(5, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(5, 'TfYqLdD2X7gb4pVx', 182820, 13)
(5, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(5, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(5, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(5, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(5, 'TfYqLdD2X7gb4pVx', 208022, 4)
(6, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(6, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(6, 'TfYqLdD2X7gb4pVx', 182820, 13)
(6, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(6, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(6, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(6, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(6, 'TfYqLdD2X7gb4pVx', 208022, 4)
(7, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(7, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(7, 'TfYqLdD2X7gb4pVx', 182820, 13)
(7, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(7, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(7, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(7, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(7, 'TfYqLdD2X7gb4pVx', 208022, 4)
(8, 'TfYqLdD2X7gb4pVx', 15202627, 14)
(8, 'TfYqLdD2X7gb4pVx', 16497287, 19)
(8, 'TfYqLdD2X7gb4pVx', 182820, 13)
(8, 'TfYqLdD2X7gb4pVx', 1829113, 12)
(8, 'TfYqLdD2X7gb4pVx', 12296204, 18)
(8, 'TfYqLdD2X7gb4pVx', 11862111, 7)
(8, 'TfYqLdD2X7gb4pVx', 14022779, 16)
(8, 'TfYqLdD2X7gb4pVx', 208022, 4)
(9, 'TfYqLdD2X7gb4pVx', 16497287, 19)

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`projectfflogs`.`teampertry`, CONSTRAINT `fk_id_try` FOREIGN KEY (`fk_id_try`) REFERENCES `try` (`id_try`))

In [ ]:
df_total = pd.json_normalize(json_data)
df_total.head()

# AUTRES TESTS EN PAGAILLE

In [15]:
# requête à l'api FFLOGS V2
query = """query {
            reportData { 
                report(code: "TfYqLdD2X7gb4pVx") {
                    fights{id, name, kill, name, startTime, endTime, bossPercentage, 
                            fightPercentage, encounterID, friendlyPlayers, size},
                    owner{id,name}, 
                    guild{name,id}, 
                    masterData{actors{id,name, type, subType}},
                    rankedCharacters{id,name,canonicalID}
                }
            }
        }"""

#on récupère une liste de jobs à charger dans la BDD
r = requests.get(url, auth=BearerAuth(token), json={'query': query}) 
r.json()
json = r.json()

# On en tire une liste de jobs
fights = json["data"]["reportData"]["report"]["fights"]

encounters = []

for fight in fights :
    encounters.append(fight["encounterID"])

In [16]:
print(encounters)

[86, 86, 86, 86, 86, 86, 86, 86, 0, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87]

In [ ]:
# Query pour récupérer les jobs
query_job = """query {
    gameData{
            classes{
                specs{
                    id, name
                }
            }
        }
}

"""

#on récupère une liste de jobs à charger dans la BDD
r_job = requests.get(url, auth=BearerAuth(token), json={'query': query_job})